{% extends 'base.html' %}

{% block content %}
<main class="main main--about">
    <p class="main__p">
        Hello, I'm Matheus, a 25-year-old technical consultant working for a residential automation company. I hold a
        degree in mechanical engineering but have recently discovered a passion for software development. Over the past
        year, I've dedicated myself to learning and applying programming in my job. Now, I'm on the lookout for a
        full-time development role.
    </p>
    <p class="main__p">
        I love spending my free time gaming, watching videos, movies/TV shows, and live streams. Beyond the digital
        realm, you'll often find me enjoying the company of my girlfriend, savoring diverse cuisines, discovering new
        places, and immersing myself in the world of music.
    </p>
    <p class="main__p">
        My current programming arsenal includes Python, where I've developed experience with the Flask framework,
        MongoDB, HTML, and
        CSS. I'm in the process of expanding my skill set by delving into JavaScript, FastAPI, and the
        intricacies of building APIs with Flask. As I continue to learn and grow, I'm eager to contribute my skills to a
        dynamic team in a full-time development role.
    </p>
    <p class="main__p">
        I invite you to explore my portfolio, where you'll find examples of my work and a glimpse into my coding
        journey. Let's connect and explore how my passion for software development can add value to your team. Looking
        forward to the exciting possibilities that lie ahead!
    </p>
</main>
{% endblock %}