{% extends 'base.html' %}

{% block content %}
<main class="main main--about">
    <p class="main__p">  
        Hello, I'm Matheus, a 25-year-old technical consultant working for a residential automation company. I hold a degree in mechanical engineering but have recently discovered a passion for software development. Over the past year, I've dedicated myself to learning and applying programming in my job. Now, I'm eager to find a full-time development position!
    </p>
    <p class="main__p">
        In my free time, I enjoy playing games, watching videos, movies/TV shows, and live streams. I also like going out with my girlfriend, trying new foods, exploring new places, and indulging in music.
    </p>
    <p class="main__p">
        I began my technical journey with Python. I enrolled in a boot camp, grasped the fundamentals, and started working on various projects, which you can explore on the projects page.
    </p>
    <p class="main__p">
        Currently, I'm focused on studying Web Development, the programming branch I'm most passionate about. I'm acquiring proficiency in front-end languages like JavaScript and deepening my knowledge of Python with the Django and Flask frameworks.
    </p>
</main>
{% endblock %}