{% extends 'base.html' %}

{% block content %}
<main class="main main--contact">
    <dl>
        <div class="contact">
            <img class="contact__image" src="{{ url_for('static', filename='images/gmail_logo.svg') }}" alt="Gmail_icon">
            <dt>Gmail:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:matheus.scep@gmail.com">
                    matheus.scep <span>@</span> gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <img class="contact__image" src="{{ url_for('static', filename='images/github_logo.svg') }}" alt="Github_icon">
            <dt>Github:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/Snapcaszz">
                    @Snapcaszz
                </a>
            </dd>
        </div>
        <div class="contact">
            <img class="contact__image" src="{{ url_for('static', filename='images/linkedin_logo.svg') }}" alt="Linkedin_icon">
            <dt>Linkedin:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://linkedin.com/in/matheus-scep-27954b1b5">
                    in/matheus-scep-27954b1b5
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}